body { background-color: white; color: black; margin: 20px auto; width: 800px; }
h1 { border-bottom: 1px solid black; text-align: center; margin-top: 0px; }
h2 { border-bottom: 1px solid black; }
h1 span.h1-prefix { color: grey; }
div#navi { /* font-size: 0.8em; */ color: grey; }
div#footer { border-top: 1px solid grey; font-size: 0.8em; color: grey; margin-top: 2em; }
div#footer a { color: grey; text-decoration: underline; }

body { font-family: 'Helvetica', sans-serif; }
h1, h2 { font-family: 'Linux Libertine O', Georgia, serif; }

a { color: #666; }
a.ext:before { content: "» "; }

table { border-collapse: collapse; }
table.full-width { width: 100%; }
td, th { border: 1px solid #aaaaaa; padding: 0.25em 1ex; }
th { background-color: #dddddd; }
tr.not-reconf td { background-color: #fee; }
tr.cf_deleted { text-decoration: line-through; }
td.cf-date { text-align: center; }
td.cf-comment { font-style: italic; word-wrap: anywhere; }
td.cf-reconf { text-align: center; }

#stats_switch { float: right; font-size: smaller; height: 0; position: relative; top: -1em; }
table.stats.stats_ { background-color: #fff; border-bottom: 1px solid #999; border-left: none; width: 100%; }
table.stats_ th { background-color: #fff; border: none; }
table.stats_ th div { font-size: smaller; font-weight: normal; }
table.stats_ th.user,
table.stats_ th.conf { width: 50%; }
table.stats_ th.user .total { color: #666; }
table.stats_ th.user .total_0 { color: #936; }
table.stats_ th.user .total_1 { color: #693; }
table.stats_ th.conf .total { color: #369; }
table.stats_ tr.new_year td { border-top: 1px solid #ccc;}
table.stats.stats_ td { padding: 4px; vertical-align: top; }
table.stats_ td.time { color: #999; }
table.stats_ td.bar { line-height: 0; padding: 1px 0; position: relative; }
table.stats_ tr:hover td.bar { background-color: #eee; }
table.stats_ td.bar.user { border-right: 1px solid #9c6; text-align: right; }
table.stats_ td.bar.conf { border-left: 1px solid #69c; }
table.stats_ td.bar div { display: inline-block; height: 10px; }
table.stats_ td.bar.user .bar_0 { background-color: #c69; }
table.stats_ td.bar.user .bar_1 { background-color: #9c6; }
table.stats_ td.bar.conf div { background-color: #69c; }
table.stats_ td.bar span { display: none; font-size: 11px; position: absolute; top: 6px; }
table.stats_:hover td.bar span { display: block; }
table.stats_:hover td.bar.user span { text-align: right; width: 2em; }
table.stats_ td.bar.conf .month { color: #ccc; left: -24px; }
table.stats_ td.bar.user .count { color: #999; left: 0; }
table.stats_ td.bar.user .count_0 { color: #c69; left: 2em; }
table.stats_ td.bar.user .count_1 { color: #9c6; left: 4em; }
table.stats_ td.bar.conf .count { color: #69c; right: 0.5em; }
table.stats_ td.number { color: #666; text-align: right; }
table.stats_ td.number.user { border-left: 1px solid #999; }
table.stats_ td.number.conf { border-right: 1px solid #999; color: #369; }

.old_stats { display: none; }
table.stats { border-left: 1px solid #999; font-size: 0.8em; line-height: 1.2em; margin: 2em 0 1em; }
table.stats caption { font-weight: bold; padding: 0.25em 0; text-align: left; }
table.stats td { border: none; padding: 2px; vertical-align: bottom; }
table.stats td.new_year { border-left: 1px solid #ccc; }
table.stats tr.group td { border-top: 1px solid #999; border-left: 1px solid #ccc; color: #999; }
table.stats tr.columns td div { background-color: #999; width: 4px; }
table.stats tr.columns td:hover { outline: 1px dotted #ccc; }
table.stats tr.columns td.legend:hover { outline: none; }
table.stats tr.columns td div:hover { background-color: #cc3 !important; }
table.conf_stats tr.columns td div { background-color: #69c; }
table.user_stats tr.columns td div.verified_0 { background-color: #c69; }
table.user_stats tr.columns td div.verified_1 { background-color: #9c6; }
table.stats tr.columns td { border-bottom: 1px solid #999; padding: 0 0 0 1px; }
table.stats tr.columns td.legend { color: #999; }
table.user_stats tr.columns .verified_0 { color: #c69; }
table.user_stats tr.columns .verified_1 { color: #9c6; }
table.conf_stats tr.columns td { border-bottom-color: #69c; }
table.user_stats tr.columns td { border-bottom-color: #9c6; }
table.stats tr.summary td { border-bottom: 1px solid #999; border-left: 1px solid #ccc; color: #666; text-align: right; white-space: nowrap; }
table.conf_stats tr.summary { color: #369; }
table.user_stats tr.summary .verified_0 { color: #936; }
table.user_stats tr.summary .verified_1 { color: #693; }
table.stats tr td.legend { border: none; border-left: 1px solid #999; padding-left: 1ex; text-align: left; }
table.stats tr td.legend span.total { display: inline-block; text-align: right; width: 6ex; }

table.toc th { text-align: left; }
table.toc td,
table.users td.given,
table.users td.taken { text-align: right; }

.warning { color: #dd3333; font-weight: bold; }
table.dates { float: right; }
table.dates th { text-align: right; }

.given th, th.given { background-color: #cce; }
.given td, td.given { background-color: #eef; }
.taken th, th.taken { background-color: #cec; }
.taken td, td.taken { background-color: #efe; }
table.users tr:hover td,
table.given tr:hover td,
table.taken tr:hover td { background-color: #ffd; }

th.header { background-image: url('sort_normal.gif'); background-position: center right; background-repeat: no-repeat; padding-right: 20px; margin-right: -5px; cursor: pointer; }
th.headerSortUp, th.headerSortDown { background-color: #aaa; }
th.headerSortUp { background-image: url('sort_up.gif'); }
th.headerSortDown { background-image: url('sort_down.gif'); }

div#wp-box { float: right; height: 0; position: relative; text-align: right; top: -6em; width: 50%; }
