<!DOCTYPE html>
<html>
    <head>
	    <title>{% block page_title %}{% endblock %} | {{ msg('pb-name') }} | {{ msg('pb-labs-name') }}</title>

        <meta charset="utf-8" />

	<link rel="stylesheet" href="//tools.wmflabs.org/static/res/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.bootstrap.css') }}" />
        <link rel="stylesheet" href="//tools.wmflabs.org/static/res/bootstrap/3.1.1/css/bootstrap-theme.min.css" />

        <script src="//tools.wmflabs.org/static/res/jquery/2.1.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.tablesorter.widgets.min.js') }}"></script>
        <script src="//tools.wmflabs.org/static/res/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <script>
            $(document).ready(function() {
                $('.collapse-delayed').addClass('collapse');
            });

            $(function() {
                $.extend($.tablesorter.themes.bootstrap, {
                    sortNone   : 'glyphicon glyphicon-sort',
                    sortAsc    : 'glyphicon glyphicon-sort-by-attributes',
                    sortDesc   : 'glyphicon glyphicon-sort-by-attributes-alt',
                });

                $(".tablesorter").tablesorter({
                    theme: "bootstrap",
                    headerTemplate: "{content} {icon}",
                    widgets: ["uitheme"],
                });
            });

            {% block javascript %}{% endblock %}
        </script>
    </head>
    <body>
        <div id="wrap">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
			<a class="navbar-brand" href="{{ url_for('index') }}">{{ msg('pb-name') }}</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            {{ create_navbar_item('users', msg('pb-users-navi')) | safe }}
                            {{ create_navbar_item('about', msg('pb-about-pb-navi')) | safe }}
                        </ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="/intuition">{{ msg('pb-change-language') }}</a></li>
			</ul>
                    </div>
                </div>
            </div>

            <div class="container">
                {% block page_header %}
                    <div class="page-header">
                        <h1>{% block page_heading %}{% endblock %}</h1>
                    </div>
                {% endblock %}

                {% block flushed_messages %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == 'message' %}
                                    {% set category = 'info' %}
                                {% endif %}
                                <div class="alert alert-{{ category }}">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ message | safe }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                {% endblock %}

                {% block page_body %}{% endblock %}

                <noscript>
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
			<p>{{ msg('pb-javascript-notice') }}</p>
                    </div>
                </noscript>
            </div>
        </div>

        <div id="footer">
            <div class="container">
		    <a href="https://tools.wmflabs.org"><img id="footer-icon" src="//tools.wmflabs.org/static/res/logos/powered-by-tool-labs.png" title="{{ msg('pb-powered-by-labs') }}" alt="{{ msg('pb-powered-by-labs') }}" /></a>
		    <p class="text-muted">
		    	{{ msg('pb-footer', context=[url_for('about')]) | safe }}
		    </p>
            </div>
        </div>
    </body>
</html>
