{% extends "base.html" %}

{% block page_title %}{{ msg('pb-home') }}{% endblock %}
{% block page_heading %}{{ msg('pb-name') }}{% endblock %}

{% block page_body %}
    <p>{{ msg('pb-home-welcome') | safe }}</p>

    <h2><span id="aktuelle_zahlen">{{ msg('pb-current-figures') }}</span></h2>
    <ul>
      <li>{{ msg('pb-current-users', context=[user_count]) | safe }}</li>
      <li>{{ msg('pb-current-confirmations', context=[format_number(confirmation_count), confirmations_per_day, int(round(confirmations_per_day))]) | safe }}</li>
      </li>
    </ul>

    <h2><span id="letzte_bestaetigungen">{{ msg('pb-recent-confirmations') }}</span></h2>
    <ul>
    {% for conf in latest_confirmations %}
      {% set (has_confirmed_name, was_confirmed_name, cf_comment, cf_was_deleted, cf_timestamp) = conf %}
      <li>{{ cf_timestamp | format_date }}, {{ cf_timestamp | format_time }}: <a href="{{ url_for('user', user_name=has_confirmed_name) }}">{{ has_confirmed_name }}</a> → <a href="{{ url_for('user', user_name=was_confirmed_name) }}">{{ was_confirmed_name }}</a> {% if cf_comment %}({{ cf_comment | parse_comment }}){% endif %}</li>
    {% endfor %}
      <!-- <li><a href="{{ url_for('confirmations') }}">Weitere neue Bestätigungen</a></li> -->
    </ul>
{% endblock %}
