{% extends "base.html" %}

{% block page_title %}{{ msg('pb-users-title') }}{% endblock %}
{% block page_heading %}{{ msg('pb-users-title') }}{% endblock %}

{% block page_body %}
    <p>{{ msg('pb-users-overview', context=[len(users)]) | safe }}</p>

    <div class="table-responsive">
        <table class="users tablesorter table table-hover">
            <thead>
                <tr>
                    <th>{{ msg('pb-user') }}</th>
		    <th class="given">{{ msg('pb-confirmations-given') }}</th>
		    <th class="taken">{{ msg('pb-confirmations-taken') }}</th>
		    <th>{{ msg('pb-participates-since') }}</th>
		    <th>{{ msg('pb-verified-since') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for u in users: %}
                <tr>
                    <td class="cf-user"><a href="{{ url_for('user', user_name=u[0]) }}">{{ u[0] }}</a></td>
                    <td class="given">{{ u[7] if u[7] != None else 0 }}</td>
                    <td class="taken">{{ u[8] if u[8] != None else 0 }}</td>
                    <td class="cf-date">{{ u[5] | format_date }}</td>
                    <td class="cf-date">{{ u[6] | format_date if u[6] != None }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
