{% extends "base.html" %}

{% block page_title %}{{ msg('pb-user-title', context= [user['name']]) }}{% endblock %}
{% block page_heading %}{{ msg('pb-user-heading', context=[user['name'], 'https://de.wikipedia.org/wiki/Benutzer:' + user['name']]) | safe }}{% endblock %}

{% block javascript %}
{% endblock %}

{% block page_body %}
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
		    <th><a href="#given" title="{{ msg('pb-confirmations-given') }}"><i class="glyphicon glyphicon-chevron-right"> </i> {{ msg('pb-confirmations-given') }}</a></th>
                <td>{{ confirmations_given | length }}</td>
            </tr>
            <tr>
		    <th><a href="#taken" title="{{ msg('pb-confirmations-taken') }}"><i class="glyphicon glyphicon-chevron-right"> </i> {{ msg('pb-confirmations-taken') }}</a></th>
                <td>{{ confirmations_received | length }}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table">
            <tr>
		<th>{{ msg('pb-participates-since') }}</th>
                <td>{{ user['participates_since'] | format_date }}</td>
            </tr>
            <tr>
    	        <th>{{ msg('pb-verified-since') }}</th>
                <td>{{ user['verified_since'] | format_date }}</td>
            </tr>
        </table>
    </div>
</div>

{% macro print_confirmation_table(confirmations, given=True) -%}
    <table class="table table-hover table-bordered tablesorter">
        <colgroup>
            <col width="30%" />
            <col width="20%" />
            <col width="40%" />
            <col width="10%" />
        </colgroup>
        <thead>
            <tr>
		    <th>{{ msg('pb-user') }}</th>
		    <th>{{ msg('pb-date') }}</th>
		    <th>{{ msg('pb-comment') }}</th>
		    <th>{{ msg('pb-reconfirmed') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for confirmation in confirmations %}
                {% set back = confirmation[6] == 1 %}
                <tr class="{% if back %}success{% else %}danger{% endif %}">
                    <td class="cf-t-user"><a href="{{ url_for('user', user_name=confirmation[0]) }}" title="{{ msg('pb-user-link-title', context=[confirmation[0]]) }}">{{ confirmation[0] }}</a></td>
                    <td class="cf-t-date" data-string="{{ confirmation[2] }}">{{ confirmation[2] | format_date }}</td>
                    <td class="cf-t-comment">{{ confirmation[3] }}</td>
                    <td class="cf-t-back">{{ back | format_boolean }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{%- endmacro %}

<h2 id="given">{{ msg('pb-confirmations-given') }}</h2>

{{ print_confirmation_table(confirmations_given) }}

<h2 id="taken">{{ msg('pb-confirmations-taken') }}</h2>

{{ print_confirmation_table(confirmations_received, given=False) }}

{% endblock %}
