{%extends "base.html" %}

{%block heading %}Über WPPB{%endblock %}

{%block title %}Über WPPB{%endblock %}

{%block content %}
  <h2>Über das Projekt</h2>
  <p>Dieses Projekt dient zur Repräsentation der Wikipedianer-Gemeinschaft im realen Leben.</p>
  <p>Die erste technische Umsetzung stammte von <em>Ulli Purwin</em> (Interface) und <em>Euku</em> (Bot). Anfang 2011 hat <em>Ireas</em> Ullis Part übernommen. Inzwischen liegt dieses Interface auch nicht mehr auf einem privaten Server, sondern auf dem Wikimedia-Toolserver.</p>
  <p>Mehr Informationen über das Projekt <em>Persönliche Bekanntschaften</em> findest du auf der Wikipedia-Seite <a href="https://de.wikipedia.org/wiki/WP:PB" class="ext">Wikipedia:Persönliche Bekanntschaften</a>.</p>
  <h2>Technisches</h2>
  <p>Wir verwenden für dieses Interface <a href="https://de.wikipedia.org/wiki/Python_%28Programmiersprache%29" class="ext">Python</a> und <a href="https://de.wikipedia.org/wiki/MySQL" class="ext">MySQL</a>. Der Quellcode steht unter der <a href="http://www.gnu.org/licenses/lgpl.html" class="ext">GNU Lesser General Public License 3</a> (LGPL 3) und ist <a href="https://fisheye.toolserver.org/browse/p_wppb" class="ext">hier</a> (<a href="https://svn.toolserver.org/svnroot/p_wppb">SVN</a>) einsehbar. Bugberichte, Änderungswünsche oder andere Kommentare können im <a href="https://jira.toolserver.org/browse/WPPB" class="ext">JIRA-System</a> oder auf der <a href="https://de.wikipedia.org/wiki/WD:PB" class="ext">Wikipedia-Diskussionsseite</a> hinterlassen werden.</p>
  <p>Aktuelle Datenbankdumps findest du <a href="/~wppb/sql-dumps">hier</a>.</p>
{%endblock %}
