{%extends "base.html" %}

{%block page_title %}Bestätigungs-Details{%endblock %}

{%block heading %}{%if user_one == None or user_two == None: %}Fehler{%else: %}
  Details für <a href="{{ url_for('user', user_name=user_one['user_name']) }}">{{user_one['user_name']}}</a>
  und <a href="{{ url_for('user', user_name=user_two['user_name']) }}">{{user_two['user_name']}}</a>
{%endif %}{%endblock %}

{%block content %}
{% if user_one == None or user_two == None: %}
  <p>Ein Fehler ist aufgetreten: Entweder hast du nicht genug Informationen angegeben, oder mindestens einer der beiden angegebenen Benutzer existiert nicht.</p>
{% else: %}
  {%if cf_one_two != None: %}
    <p>{{ user_one['user_name'] }} hat {{ user_two['user_name'] }} am {{ cf_one_two['cf_timestamp'] | format_date }} um {{ cf_one_two['cf_timestamp'] | format_time }} Uhr bestätigt
      {%if cf_one_two['cf_comment']: %}: {{ cf_one_two['cf_comment'] }}{%else %}.{%endif %}</p>
  {%else %}
    <p>{{ user_one['user_name'] }} hat {{ user_two['user_name'] }} noch nicht bestätigt.</p>
  {%endif %}

  {%if cf_two_one != None: %}
  <p>{{ user_two['user_name'] }} hat {{ user_one['user_name'] }} am {{ cf_two_one['cf_timestamp'] | format_date }} um {{ cf_two_one['cf_timestamp'] | format_time }} Uhr bestätigt
    {%if cf_two_one['cf_comment']: %}: {{ cf_two_one['cf_comment'] }}{%else %}.{%endif %}</p>
  {%else %}
    <p>{{ user_two['user_name'] }} hat {{ user_one['user_name'] }} noch nicht bestätigt.</p>
  {%endif %}
{%endif %}
{%endblock %}
