{%extends "base.html" %}

{%block page_title %}Neueste Bestätigungen{%endblock %}
{%block heading    %}Neueste Bestätigungen{%endblock %}

{%block content %}
{% macro print_pager() -%}
  <div class="pager">
    <span class="previous {{ 'hidden' if page == 1 }}"><a href="{{ url_for('recent_confirmations', page=page - 1) }}">← Neuer</a> |</span>
    <span class="next"><a href="{{ url_for('recent_confirmations', page=page + 1) }}">Älter →</a></span>
  </div>
{%- endmacro %}

{{ print_pager() }}

  <table class="recent tablesorter">
    <colgroup>
      <col width="20%" />
      <col width="20%" />
      <col width="20%" />
      <col width="40%" />
    </colgroup>
    <thead>
      <tr>
        <th>Datum, Uhrzeit</th>
        <th class="given">Bestätigender</th>
        <th class="taken">Bestätigter</th>
        <th>Kommentar</th>
      </tr>
    </thead>
    {% for user_has_confirmed, user_was_confirmed, cf_comment, cf_was_deleted, cf_timestamp in confirmations: %}
    <tr>
      <td>{{ cf_timestamp | format_date }}, {{ cf_timestamp | format_time }}</td>
      <td class="given"><a href="{{ url_for('user', user_name=user_has_confirmed) }}">{{ user_has_confirmed }}</a></td>
      <td class="taken"><a href="{{ url_for('user', user_name=user_was_confirmed) }}">{{ user_was_confirmed }}</a></td>
      <td>{{ cf_comment }}</td>
    </tr>
    {% endfor %}
  </table>

{{ print_pager() }}
{%endblock %}

{%block javascript %}
  $(function() {
    $('.tablesorter').tablesorter();
  });
{%endblock %}
