{%extends "base.html" %}

{%block page_title %}Neueste Bestätigungen{%endblock %}
{%block heading    %}Neueste Bestätigungen{%endblock %}

{%block content %}
{%set count = 50 %}
{%if 'count' in field: %}
  {%set given_count = int(field['count'].value) %}
  {%if given_count > 0 and given_count < 1000: %}
    {%set count = given_count %}
  {%endif %}
{%endif %}
{%set confs = db.get_latest_confirmations(limit=count) %}
<p>Hier findest du die letzten {{ format_number(count) }} Bestätigungen der letzten 30 Tage.</p>
<ul>
{%for conf in confs: %}
  {%set (has_confirmed_name,was_confirmed_name,cf_comment,cf_was_deleted,cf_timestamp) = conf %}
  <li>{{ format_date(cf_timestamp) }}, {{ format_time(cf_timestamp) }}: {{ link('user', 'name=' + has_confirmed_name, has_confirmed_name) }} → {{ link('user', 'name=' + was_confirmed_name, was_confirmed_name) }} {%if cf_comment:%}({{ comment_to_html(cf_comment) }}){%endif%}</li>
{%endfor %}
</ul>

{%endblock %}
