persBekannt.extendedUserlist = {
{% set user = None %}
{% if 'id' in field: %}
{%   set user = db.get_user_by_id(field['id'].value) %}
{% elif 'name' in field: %}
{%   set user = db.get_user_by_name(field['name'].value.decode('utf8')) %}
{% endif

%}{%if user == None: %}
/%  Ein Fehler ist aufgetreten: Entweder hast du keinen Benutzer angegeben oder der angegebene Benutzer existiert nicht. */
{%else: %}
  myUserName: "{{ user[0] }}",
  alreadyConfirmedUsers: [
    {%set confs = db.get_confirmations_by_user(user[1], False) %}
    {%for conf in confs: %}{%set (cf_user_name, cf_user_id, cf_date, cf_comment, cf_was_deleted, cf_user_is_hidden, cf_reconfirmed) = conf %}
	{%if not cf_user_is_hidden: %}"{{ cf_user_name }}",{%endif%}
    {%endfor %}],
  usersOnSecondaryList: [
    {%set confs = db.get_confirmations_by_user(user[1], False) %}
    {%for conf in confs: %}{%set (cf_user_name, cf_user_id, cf_date, cf_comment, cf_was_deleted, cf_user_is_hidden, cf_reconfirmed) = conf %}
	{%if not cf_user_is_hidden: %}"{{ cf_user_name }}",{%endif%}
    {%endfor %}]
{%endif %}
}
