{%extends "base.html" %}

{%block page_title %}Übersicht{%endblock %}

{%block heading %}Teilnehmende Benutzer{%endblock %}

{%block content %}
  {%set users = db.get_all_users() %}

  <p>Die folgenden Benutzer nehmen am Projekt <em>Persönliche Bekanntschaften</em> teil:</p>

  <table>
    <tr>
      <th>Benutzername</th>
      <th>Vergebene Bestätigungen</th>
      <th>Erhaltene Bestätigungen</th>
    </tr>
    {%for u in users: %}
      <tr>
	<td>
	  {{ link('user', 'id='+str(u[1]), u[0]) }}
	</td>
	<td>
	  {{ db.get_cf_count_by_user(u[1]) }}
	</td>
	<td>
	  {{ db.get_cf_count_by_confirmed(u[1]) }}
	</td>
      </tr>
    {%endfor %}
  </table>
{%endblock %}
