{%extends "base.html" %}

{%set user = None %}
{%if 'id' in field: %}
  {%set user = db.get_user_by_id(field['id'].value) %}
{%elif 'name' in field: %}
  {%set user = db.get_user_by_name(field['name'].value.decode('utf8')) %}
{%endif %}

{%block page_title %}
	{%if user == None: %}Fehler{%else: %}Benutzerdetails für {%if user[3] == 0: %}{{ user[0] }} {% else: %} einen Ex-Teilnehmer{%endif%}
{%endif %}{%endblock %}

{%block heading %}
	{%if user == None: %}Fehler{%else: %}Benutzerdetails für {%if user[3] == 0: %}{{ user[0] }} {% else: %} einen Ex-Teilnehmer{%endif%}
{%endif %}{%endblock %}

{%block content %}
{%if user == None: %}
  <p>Ein Fehler ist aufgetreten: Entweder hast du keinen Benutzer angegeben oder der angegebene Benutzer existiert nicht.</p>
{%else: %}
  {%if user[2] != None: %}
    <p><b>Kommentar:</b> {{ user[2] }}</p>
    {%if user[3] == 0: %}<span class="warning">{{ user[0] }} wurde aus dem Projekt <em>Persönliche Bekanntschaften</em> ausgeschlossen.</span></p>{%endif%}
  {%endif %}

  <div id="wp-box">
    <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/12px-Wikipedia-logo-v2.svg.png" /> <a href="http://de.wikipedia.org/wiki/Benutzer:{{ user[0] }}">Benutzerseite</a>, <a href="http://de.wikipedia.org/wiki/Benutzer_Diskussion:{{ user[0] }}">Diskussionsseite</a>
  </div>

  <table class="toc">
    <tr class="given">
      <th><a href="#vergeben">Vergebene Bestätigungen</a></th>
      <td>{{ format_number(db.get_cf_count_by_user(user[1])) }}</td>
    </tr>
    <tr class="taken">
      <th><a href="#erhalten">Erhaltene Bestätigungen</a></th>
      <td>{{ format_number(db.get_cf_count_by_confirmed(user[1])) }}</td>
    </tr>
    <tr class="participates-since">
      <th>Anmeldungsdatum WP:BP</th>
      <td>{{ format_date(user[5]) }}</td>
    </tr>
    {%if user[6] != None: %}
    <tr class="verified-since">
      <th>Bestätigt seit</th>
      <td>{{ format_date(user[6]) }}</td>
    </tr>
    {%endif %}
  </table>

  <h2><a id="vergeben">Vergebene Bestätigungen</a></h2>
  <table class="full-width given tablesorter" id="given-confirmations">
    <colgroup>
      <col width="2%" />
      <col width="30%" />
      <col width="20%" />
      <col width="38%" />
      <col width="10%" />
    </colgroup>
    <thead>
      <tr>
	<th></th>
	<th>An Benutzer</th>
	<th>Datum</th>
	<th>Kommentar</th>
	<th>Rückbestätigt?</th>
      </tr>
    </thead>
    <tbody>
    {%set conf_self = db.get_confirmations_by_user(user[1]) %}
    {%for conf in conf_self: %}
      {%set (cf_user_name, cf_user_id, cf_date, cf_comment, cf_was_deleted, cf_user_is_hidden) = conf %}
      {%set cf_reconfirmed = db.has_confirmed(cf_user_id, user[1]) %}
      <tr class="{%if not cf_reconfirmed: %}not-reconf{%endif %} {%if cf_was_deleted==1: %}cf_deleted{%endif%}">
	{%set cf_reconfirmed = db.has_confirmed(cf_user_id, user[1]) %}
	<td class="cf-detail">
		{%if not cf_user_is_hidden: %}
			{{ link('confirmation', 'user_one=' + str(user[1]) + 
			'&amp;user_two=' + str(cf_user_id), '.') }}
		{%endif%}</td>
	<td class="cf-user">{%if not cf_user_is_hidden: %}
			{{ link('user', 'id=' + str(cf_user_id), cf_user_name) }}
		{%else%}Ex-Teilnehmer
		{%endif%}</td>
	<td class="cf-date">{{ format_date(cf_date) }}</td>
	<td class="cf-comment">{{ cf_comment }}</td>
	<td class="cf-reconf">
	  {%if cf_reconfirmed: %}
	    ja
	  {%else: %}
	    nein
	  {%endif %}
	</td>
      </tr>
    {%endfor %}
    </tbody>
  </table>

  <h2><a id="erhalten">Erhaltene Bestätigungen</a></h2>
  <table class="full-width taken tablesorter" id="taken-confirmations">
    <colgroup>
      <col width="2%" />
      <col width="30%" />
      <col width="20%" />
      <col width="38%" />
      <col width="10%" />
    </colgroup>
    <thead>
      <tr>
	<th></th>
	<th>Von Benutzer</th>
	<th>Datum</th>
	<th>Kommentar</th>
	<th>Rückbestätigt?</th>
      </tr>
    </thead>
    <tbody>
    {%set conf_from = db.get_confirmations_by_confirmed(user[1]) %}
    {%for conf in conf_from: %}
      {%set (cf_user_name, cf_user_id, cf_date, cf_comment, cf_was_deleted, cf_user_is_hidden) = conf %}
      {%set cf_reconfirmed = db.has_confirmed(user[1], cf_user_id) %}
      <tr class="{%if not cf_reconfirmed: %}not-reconf{%endif %} {%if cf_was_deleted==1: %}cf_deleted{%endif%}">
	<td class="cf-detail">
		{%if not cf_user_is_hidden: %}
			{{ link('confirmation', 'user_one=' + str(cf_user_id) + 
			'&amp;user_two=' + str(user[1]), '.') }}
		{%endif%}</td>
	<td class="cf-user">{%if not cf_user_is_hidden: %}
			{{ link('user', 'id=' + str(cf_user_id), cf_user_name) }}
		{%else%}Ex-Teilnehmer
		{%endif%}</td>
	<td class="cf-date">{{ format_date(cf_date) }}</td>
	<td class="cf-comment">{{ cf_comment }}</td>
	<td class="cf-reconf">
	  {%if cf_reconfirmed: %}
	    ja
	  {%else: %}
	    nein
	  {%endif %}
	</td>
      </tr>
    {%endfor %}
    </tbody>
  </table>
{%endif %}
{%endblock %}

{%block javascript %}
  var textExtractor = function(node) {
    if (node.className == "cf-date") {
      var date = node.innerHTML;
      match = date.match(/^(\d+)\.(\d+)\.(\d+)$/)
      if (match == null) {
        alert(node.innerHTML);
        return node.innerHTML;
      } else {
        return match[3] + "-" + match[2] + "-" + match[1];
      }
    } else if (node.className == "cf-user") {
      var returnValue = node.innerHTML;
      if (node.childNodes.length == 1) {
        // Ex-Teilnehmer
        returnValue = "";
      } else if (node.childNodes.length > 1) {
        returnValue = node.childNodes[1].innerHTML;
      }
      if (returnValue == undefined) {
        console.log(node.childNodes[0].nodeValue);
      }
      return returnValue;
    } else {
      return node.innerHTML;
    }
  }

  $(document).ready(function() {
    var opts = {textExtraction: textExtractor, headers:{0:{sorter:false}}};
    $("#given-confirmations").tablesorter(opts);
    $("#taken-confirmations").tablesorter(opts);
  });
{%endblock %}
